# navigation
yarn add @react-navigation/native
yarn add @react-navigation/native-stack
yarn add @react-navigation/bottom-tabs

# react-native 필수
yarn add react-native-screens
yarn add react-native-safe-area-context

# 상태관리
yarn add zustand

# 로컬 저장
yarn add @react-native-async-storage/async-storage
